@model IEnumerable<Booking.Core.Entities.GymClass>

@{
    ViewData["Title"] = "Index";
}

<h1>Index</h1>

<div id="createajax"></div>

<div >
    <a class="btn btn-primary" asp-action="Create">Create New original</a>  
    <a asp-action="Create" class="btn btn-secondary"
        data-ajax="true"
        data-ajax-method="GET"
        data-ajax-update="#createajax"
        data-ajax-mode="replace"
       data-ajax-success="fixValidation">Create New Jquery ajax</a>
    <button  id="fetch" class="btn btn-secondary">Fetch</button> 
</div>

<br />

<table class="table">
    <thead>
        <tr>
            <th>Bookable&nbsp;&nbsp;&nbsp;<span style="font-size:.5rem;" class="bg-success bg-opacity-25">&nbsp;&nbsp;&nbsp;&nbsp;&nbsp;</span></th>
            <th>
                @Html.DisplayNameFor(model => model.Name)
            </th>
            <th>
                @Html.DisplayNameFor(model => model.StartTime)
            </th>
            <th>
                @Html.DisplayNameFor(model => model.Duration)
            </th>
            <th>
                @Html.DisplayNameFor(model => model.Description)
            </th>
            <th></th>
        </tr>
    </thead>

    <tbody id="gymclasses">
        <partial name="GymClassesPartial" />
    </tbody>
</table>
